.custom-data-table-button:not(.custom-data-table-button:last-child),
.custom-data-table-point:not(.custom-data-table-button:last-child) {
  border-right: 1px solid rgb(217, 217, 217) !important;
}

.custom-data-table-button span,
.custom-data-table-point span {
  display: flex;
}

.form-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0;
}

.custom-data-table-button,
.custom-data-table-point {
  margin-top: 5px;
  height: 25px;
  min-width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(217, 217, 217);
  font-size: x-small;
}

.custom-data-table-button {
  cursor: pointer;
}

.custom-data-table-button.selected {
  background-color: #1ab394;
  color: white !important;
}

.custom-data-table-button:hover {
  background: #1ab394 !important;
  color: white !important;
}